.header {
  display: block;
  position: relative;
  color: #fff;
  background-color: #0b013c;
  background-image: none;
}
.header img {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute !important;
  height: 100% !important;
  top: 0 !important;
  color: #111;
  overflow: hidden;
  width: 1311px;
  left: calc(((100% - 1140px) / 2) + -91px);
  right: auto;
}
.header h1 {
  color: #fff;
  pointer-events: initial;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.1;
  position: relative;
  font-weight: 700;
  font-size: 6rem;
  margin: 28px 20px 0 0;
}

.header input {
  font: inherit;
  margin: 0;
  overflow: visible;
  width: 50%;
  padding: 10px 12px;
  background-image: none;
  background-clip: padding-box;
  border: none;
  border-radius: 3px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  color: #111;
  background-color: #fff;
  display: block;
  float: left;
}

.header h4 {
  color: #fff;
  pointer-events: none;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
}

.divider_lane {
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  color: #111;
  box-sizing: border-box;
  position: relative;
  border-style: solid;
  border-width: 10px;
  border-color: #f8cb8a;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  width: 100px;
  height: 3px;
  margin: 30px 240px 0 0;
}

.h2_down {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.submit_button {
  box-sizing: border-box;
  display: table;
  cursor: pointer;
  color: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  margin-left: 16px;
  white-space: nowrap;
  user-select: none;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  border-radius: 0;
  align-self: flex-start;
  background-color: #8a2be2;
  float: left;
}

body {
  margin: 0;
  height: auto;
  min-height: 100%;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  color: #111;
  background-color: #fff;
  width: 100%;
  overflow-x: hidden;
}

.header_container {
  width: 50%;
  margin-left: 10%;
  padding-top: 150px;
  -webkit-text-size-adjust: 100%;
  --rem: 16;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  pointer-events: none;
  min-height: 708px;
}

.last_section {
  color: #fff;
  background-color: #0b013c;
  float: left;
  display: block;
  width: 100%;
}

.last_section .image-1 {
  width: 680px;
  height: 464px;
  margin: 137px 0 0 auto;
}

.last_section .image-2 {
  width: 702px;
  height: 464px;
  margin: -601px auto 0 0;
}

.kennedy-space-center {
  width: 702px;
  height: 464px;
  margin: -601px auto 0 0;
  padding: 100px;
}

.kennedy-space-center h6 {
  position: relative;
  font-size: 1.5rem;
  margin: 33px 20px 0;
}

.kennedy-space-center h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.middle-section {
  font-family: "Open Sans", sans-serif;
  color: #111;
  box-sizing: border-box;
  display: block;
}

.apollo-image {
  min-height: 600px;
  background-image: url(apollo.jpg);
  flex: 0 0 66.66666667%;
  width: 50%;
  float: left;
}

.right-text{
  width: 40%;
  float: left;
  padding: 5%;
}

.middle-section p {
  font-style: italic;
  margin: 30px 0 38px;
}
.middle-section h2 {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0 0;
}
.middle-section h6 {
  position: relative;
  font-size: 1.5rem;
  margin: 38px 0 0;
}

.upper-section {
  padding: 50px;
}

.upper-section p {
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  color: #111;
  box-sizing: border-box;
  font-style: italic;
  margin: 25px 0;
}

.upper-section h2 {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0 0;
}
.upper-section h6 {
  position: relative;
  font-size: 1.5rem;
  margin: 38px 0 0;
}

.bottom {
  padding: 10px;
  float: left;
  display: block;
  width: 100%;
  background-color: cornflowerblue;
  text-align: center;
  color: antiquewhite;
}